#game {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

canvas {
    background: #eee;
}

.config {
    width: fit-content;
    margin: 10px auto;
}

.file {
    width: fit-content;
    margin: 10px auto;
}